
form{
    width: 100%;
}
h3{
    color: rgb(42, 100, 150);
}
span{
    color: red;
}
table{
    border: 1px solid black;
    width: 100%;
}
table tr td select{
    width: 260px;
    height: 30px;
}
table tr td input[type="text"]{
    width: 250px;
    height: 25px;
}
table tr td input[type="date"]
{
    width: 255px;
    height: 25px;
}

